<main class="container">
    <section class="hero">
        <img src='/assets/banner.jpeg' alt="Banner principal de Almendra Details">
        <div class="info">
            <h1>Almendra details</h1>
            <p>Complices de tus mejores historias</p>
            <button type="button">EXPLORAR COLECCIONES</button>
        </div>
    </section>

    <section class="categories">
        <div class="categorieItem">
            <img src='/assets/cat1.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat2.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat3.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat4.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>        
    </section>

    <section class="featured">
        <div class="featuredTitle">
            <div class="featuredTitleLeft">
                <span>Productos Destacados</span>
                <h2>Catalogo Boutique</h2>
            </div>

            <div class="featuredTitleRight">
                <a>Ver más</a>
            </div>
        </div>

        <div class="featuredGrid">
            <article class="featuredItem">
                <div class="featuredItemImg">
                    <img src="/assets/ramo1.jpeg" alt="Producto destacado 1">
                </div>

                <div class="featuredItemInfo">
                    <h3>Producto Destacado 1</h3>
                    <span>$50.00</span>
                </div>

                <div class="featuredItemBtn">
                    <button>VER DETALLE</button>
                </div>
            </article>
        </div>
    </section>
</main>
