<main class="container">
    <section class="hero">
        <img src='/assets/banner.jpeg' alt="Banner principal de Almendra Details">
        <div class="info">
            <h1>Almendra details</h1>
            <p>Complices de tus mejores historias</p>
            <button type="button">EXPLORAR COLECCIONES</button>
        </div>
    </section>

    <section class="categories">
        <div class="categorieItem">
            <img src='/assets/cat1.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat2.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat3.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>

        <div class="categorieItem">
            <img src='/assets/cat4.jpeg' alt="Categoría 1">
            <p>Categoría 1</p>
        </div>        
    </section>

    <section class="featured">
        <div class="featuredTitle">
            <div class="featuredTitleLeft">
                <h2>Catalogo Boutique</h2>
            </div>

            <div class="featuredTitleRight">
                <a>VER TODOS</a>
            </div>
        </div>

        <div class="featuredGrid">
            <article class="featuredItem">
                <div class="featuredItemImg">
                    <img src="/assets/ramo1.jpeg" alt="Producto destacado 1">
                </div>

                <div class="featuredItemInfo">
                    <h3>Producto Destacado 1</h3>
                    <span>$50.00</span>
                </div>

                <div class="featuredItemBtn">
                    <button>VER DETALLE</button>
                </div>
            </article>

                        <article class="featuredItem">
                <div class="featuredItemImg">
                    <img src="/assets/ramo2.jpeg" alt="Producto destacado 1">
                </div>

                <div class="featuredItemInfo">
                    <h3>Producto Destacado 1</h3>
                    <span>$50.00</span>
                </div>

                <div class="featuredItemBtn">
                    <button>VER DETALLE</button>
                </div>
            </article>

                        <article class="featuredItem">
                <div class="featuredItemImg">
                    <img src="/assets/ramo3.jpeg" alt="Producto destacado 1">
                </div>

                <div class="featuredItemInfo">
                    <h3>Producto Destacado 1</h3>
                    <span>$50.00</span>
                </div>

                <div class="featuredItemBtn">
                    <button>VER DETALLE</button>
                </div>
            </article>

            <article class="featuredItem">
                <div class="featuredItemImg">
                    <img src="/assets/ramo4.jpeg" alt="Producto destacado 1">
                </div>

                <div class="featuredItemInfo">
                    <h3>Producto Destacado 1</h3>
                    <span>$50.00</span>
                </div>

                <div class="featuredItemBtn">
                    <button>VER DETALLE</button>
                </div>
            </article>
        </div>
    </section>

    <section class="about">
        <div class="aboutFoto">
            <div class="fotoContainer">
                <img src="../../../assets/yo.jpeg" alt="">
            </div>
        </div>

        <div class="aboutInfo">
            <h4>Cada petalo cuenta una historia</h4>

            <p>En Almendra Details, creemos que las flores son el lenguaje más puro de la emoción. Lo que comenzó como un pequeño taller personal se ha transformado en un santuario para aquellos que buscan el detalle perfecto.</p>

            <p>Nuestro proceso es puramente artesanal. Seleccionamos cada flor manualmente cada madrugada, asegurando frescura y carácter en cada arreglo. No solo vendemos ramos; curamos momentos que permanecen en la memoria.</p>
        </div>
    </section>

    <section class="location">
        <div class="mapInfo">
            <div class="mapInfoIcon">
                <span nz-icon nzType="environment"></span>
                <p>Tienda Online ubicada en Delicias</p>
            </div>

            <div class="mapInfoIcon">
                <span nz-icon nzType="clock-circle"></span>
                <p>Lun - Dom: 10:00 AM - 10:00 PM</p>
            </div>

            <div class="mapInfoIcon">
                <span nz-icon nzType="mail"></span>
                <p>almendradetails&#64;gmail.com</p>
            </div>

            <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.745236156743!2d-71.62409652435629!3d10.676872261020929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8999b882280765%3A0xa33e0645018c7cb0!2sEdificio%20El%20Turpial!5e0!3m2!1ses!2sve!4v1788622013189!5m2!1ses!2sve" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
        </div>

        <div class="form">
            <form action="">
                <h4>Te gustaria decirnos algo?, Escribenos</h4>

                <div class="inputGroup2">
                    <div class="inputGroup">
                        <label for="name">Nombre</label>
                        <input type="text" id="nombre">
                    </div>

                    <div class="inputGroup">
                        <label for="lastName">Apellido</label>
                        <input type="text" id="lastName">
                    </div>
                </div>

                    <div class="inputGroup3">
                        <label for="message">Mensaje</label>
                        <textarea name="message" id="message"></textarea>
                    </div>

                    <div class="btn">
                        <button>ENVIAR MENSAJE</button>
                    </div>
            </form>
        </div>
    </section>
</main>

