<nav [class.scrolled]="isScrolled">
    <div class="logo">
        <h1>Almendra Details</h1>
    </div>

    <div class="links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/products" routerLinkActive="active">Products</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <div class="btns">
        <mat-icon (click)="isOpen.set(true)" class="material-icons-outlined cart-icon">shopping_cart</mat-icon>
     
        <button  class="contact-btn">
            <i class="fa-brands fa-whatsapp" style="font-size: 22px; color: white;"></i>
            Escribenos
        </button>
    </div>
</nav>

<app-shopping-cart 
  [isOpen]="isOpen()" 
  (closeCart)="isOpen.set(false)">
</app-shopping-cart>
