nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    margin: 0;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    position: relative;
    font-size: 1.20rem;
    color: black;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.links a:hover{
    color: #334537;
}

.links a.active {
    color: #334537;
    font-weight: 600;
}

.links a.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #334537;
    border-radius: 2px;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.btns{
    display: flex;
    gap: 25px;
}

.btns .cart-icon{
    font-size: 1.5rem;
}

.btns button{
    background-color: #334537;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}