<nav>
    <div class="logo">
        <h1>Almendra Details</h1>
    </div>

    <div class="links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/products" routerLinkActive="active">Products</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <div class="btns">
        <span class="cart-icon" nz-icon nzType="shopping-cart"></span>
        <button>
            <span nz-icon nzType="whats-app"></span>
            Escribenos
        </button>
    </div>
</nav>
