<!-- <mat-sidenav-container class="cart-container" autosize>
  <mat-sidenav 
    [opened]="isOpen()" 
    mode="over" 
    position="end" 
    (closedStart)="onClose()"
    class="cart-sidenav"
  >
    <div class="cart-header">
      <h2>Tu Carrito de Compras</h2>
      <button mat-icon-button (click)="onClose()" aria-label="Cerrar carrito">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="cart-body">
   
      <div class="empty-cart">
        <mat-icon class="empty-icon">shopping_bag</mat-icon>
        <p>Tu carrito está vacío</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="cart-footer">
      <div class="total-row">
        <span>Total:</span>
        <span class="price">$0.00</span>
      </div>
      <button mat-flat-button color="primary" class="checkout-btn">
        Finalizar Compra
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container> -->