
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;


@primary-color: #e91e63;          // Color primario (cámbialo por el color de la marca de tu novia)
@processing-color: #1890ff;       // Color de elementos en progreso
@success-color: #52c41a;          // Confirmaciones/Éxito
@warning-color: #faad14;          // Advertencias
@error-color: #ff4d4f;            // Errores
@border-radius-base: 8px;         // Redondeado general de botones y tarjetas
