<footer>
    <div class="footerTop">
        <div class="footerLeft">
            <div class="footerLeftStart">
                <div class="info">
                    <h1>Almendra Details</h1>
                    <p>Complices de tus mejores historias</p>
                </div>

                <div class="socials">
                    <span nz-icon nzType="facebook"></span>
                    <span nz-icon nzType="instagram"></span>
                    <span nz-icon nzType="whats-app"></span>
                </div>
            </div>

            <div class="footerLeftEnd">
                <div class="policies">
                    <h4>LEGAL</h4>
                    <a href="">POLITICA DE PRIVACIDAD</a>
                    <a href="">TERMINOS Y CONDICIONES</a>
                    <a href="">POLITICAS DE COMPRA</a>
                </div>


            </div>
        </div>

        <div class="footerRight">
            <div class="footerRightStart">

            </div>

            <div class="footerRightEnd">
                
            </div>
        </div>
    </div>

    <div class="footerBot">
        <p>© 2026 Almendra Details. Todos los derechos reservados. Desarrollado por <a>Netsolca</a></p>
    </div>
</footer>