<footer>
    <div class="footerTop">
        <div class="footerLeft">
            <div class="footerLeftInfo">
                <div class="info">
                    <h1>Almendra Details</h1>
                    <p>Creando momentos inolvidables a través de la belleza natural de las flores desde 2026.</p>
                </div>

                <div class="socials">
                    <span nz-icon nzType="whats-app"></span>
                    <span nz-icon nzType="instagram"></span>
                    <span nz-icon nzType="tik-tok"></span>
                </div>
            </div>
        </div>

        <div class="footerRight">
            <div class="footerRightInfo">
                <h4>EXPLORAR</h4>
                <a href="">Preguntas Frecuentes</a>
                <a href="">Envios</a>
                <a href="">Politicas de la tienda</a>
            </div>

            <div class="footerRightInfo">
                <h4>LEGAL</h4>
                <a href="">Politicas de privacidad</a>
                <a href="">Terminos y condiciones</a>
            </div>
        </div>
    </div>

    <div class="footerBot">
        <p>© 2026 Almendra Details. Todos los derechos reservados. Desarrollado por <a>Netsolca</a></p>
    </div>
</footer>